<html>
  <head>
    <meta charset="UTF-8" />
    <title>LFH - Account Activation</title>

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;
      }

      .lfhLogo {
        width: 150px;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkblue;
        max-width: 600px;
        min-width: 350px;
        height: 400px;
      }

      .userIconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 140px;
        border: 2px solid white;
        border-radius: 50%;
      }

      .userIcon {
        width: 100px;
      }

      .mainTitle {
        color: white;
        font-size: 24px;
      }

      .activationLink {
        font-size: 24px;
        font-weight: 600;
        color: darkblue;
        background-color: orange;
        padding-block: 30px;
      }

      .textWrapper {
        min-width: 350px;
      }

      .activationLinkDescription {
        text-align: center;
        padding-inline: 70px;
      }

      .blueSpan {
        color: #006be8;
      }

      .lightBlueSpan {
        color: #20a9f1;
      }

      .darkBlueSpan {
        color: #003c82;
      }

      .orangeSpan {
        color: #fb3007;
      }
    </style>
  </head>
  <body>
    <img src="https://i.ibb.co/nDHMK4j/Lfh-logo.png" class="lfhLogo" alt="lfh logo" />

    <div class="wrapper">
      <div class="userIconWrapper">
        <img class="userIcon" src="https://i.ibb.co/xm0VS6c/User-icon.png" alt="user icon" />
      </div>

      <p class="mainTitle">Account Activation</p>

      <a class="activationLink" href="{{activationLink}}">ACTIVATE</a>
    </div>

    <div class="textWrapper">
      <p class="activationLinkDescription">
        Please click the 'Activate' button to finish your account activation. Thank you for choosing LFH.
      </p>

      <p>
        <b>Do Not Share This Email</b> <br />
        This email contains a secure link to LFH. Please do not share this email, link, or access code with others.
      </p>

      <p>
        <b>About LFH</b> 
        <br />
        <b>
          <span class="blueSpan">We</span> <span class="lightBlueSpan">Make</span> <span class="darkBlueSpan">It</span>
          <span class="orangeSpan">Clear</span>
        </b>
        <br />
        Find an interpreter in the desired language within minutes, regardless of your location or the time of day. We
        ensure quick access to professional interpreters whenever you need them.
      </p>
    </div>
  </body>
</html>
